-rrequirements.txt
tox==2.5.0
yamllint==1.6.0
Sphinx==1.5.1

# Python 2.6 Support
astroid<=1.2.1; python_version < '2.7'
pylint<1.4; python_version < '2.7'
flake8<3.0.0; python_version < '2.7'

# Python 2.7+ Support
pylint==1.6.4; python_version >= '2.7'
flake8==3.2.1; python_version >= '2.7'
